<h1>Let's play Countdown!</h1>

<h3>Here are your letters:</h3>
<%=@letters%>

<form action="/score" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag(:start Time.now) %>
<input type="text" name="answer">
<input type="submit" value="Submit answer"<%= hidden_field_tag(:end Time.now) %>>
</form>
